{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>mannmitr</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<script src="https://connect.facebook.net/en_US/sdk.js"></script>
<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i|Open+Sans:300,400,600,600i,700,700i,800&display=swap" rel="stylesheet">
</head>


<body class="boxed_wrapper">
    <script type="text/javascript">
        var _userway_config = {
        account: 'Cll05Iy2ru'
        };
    </script>

    <script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
    <!-- .preloader -->
    <div class="preloader"></div>
    <!-- /.preloader -->
    <!-- main-header -->
    <header class="main-header">
        <section class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="top-header-left">
                            <ul class="list-unstyled">
                                <li><a href="{% url 'abouthn' %}">About us</a></li>
                                <li>
                                    <a href="{% url 'contacts'  %}">Partner With Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="logo-wrap text-center">
                            <a href="{% url 'index2' %}">
                                <img src="{% static 'images/logo/logo-mannmitr.png'  %}"alt="mannmitr" >
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="top-header-right">
                            <ul class="list-inline">
                                <li class="cart"><a href="{% url 'index2' %}">Hindi</a> </li>
                                <li class="cart">/<a href="{% url 'index' %}">English</a></li>
                                <li class="search-ic">
                                    <div class="search-box-area">
                                        <div class="search-toggle"><i class="fa fa-search"></i></div>
                                        <div class="search-box">
                                            <form autocomplete="of" method="post" action="{% url 'search' %}">
                                                {% csrf_token %} 
                                                <div class="form-group">
                                                    <div class="autocomplete">
                                                        <input id="myInput" type="search" name="search" placeholder="expert name" required>
                                                    </div>
                                                    <button type="submit"><i class="fa fa-search"></i></button>
                                                </div>
                                            </form>
                                        </div> 
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- main-menu -->
        <div class="theme_menu menu-area stricky centred">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 menu-column">
                        <div class="menu-area">
                            <nav class="main-menu ">
                                <div class="navbar-header">     
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li><a href="{% url 'index2'  %}"><i class="fa fa-home"></i>  </a></li>   
                                        {% for key,subcat in cate.items %}
                                        <li class="dropdown" ><a href="{% url 'categeory' key  %}">{{key}}</a>
                                            <ul class="submenu">
                                                {% for subcat in subcat%}
                                                <li><a href="{% url 'subcatehn' subcat.id %}">{{subcat}}</a></li>
                                                {% endfor %}
                                            </ul>   
                                        </li>
                                        {% endfor %}
                                        <li><a href="{% url 'expert_list'  %}">विशेषज्ञ सूची</a></li> 
                                    </ul>
                                    

                                    <!-- mobile menu -->
                                    <ul class="mobile-menu clearfix">
                                        <li><a href="{% url 'index2' %}">Home</a></li>
                                        {% for key,subcat in cate.items %}
                                        <li class="dropdown" ><a href="{% url 'categeory' key  %}">{{key}}</a>
                                            <ul class="submenu">
                                                {% for subcat in subcat%}
                                                <li><a href="{% url 'subcatehn' subcat.id %}">{{subcat}}</a></li>
                                                {% endfor %}
                                            </ul>   
                                        </li>
                                        {% endfor %}   
                                        <li><a href="{% url 'expert_list'  %}">विशेषज्ञ सूची</a></li>  
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
           </div>
        </div><!-- end main-menu -->
    </header>
    <!-- end main-header -->


    {% block content %}
        
    {% endblock %}

     <!-- main footer -->
     <footer class="footer-style-one main-footer">
        <section class="top-footer-wrap">
           <div class="container">
               <div class="row">
                   <div class="col-md-3 col-md-offset-3">
                       <div class="clm-foot-top clm-foot  text-center">
                           <div class="footer-logo">
                               <a href="{% url 'index'  %}"><figure><img src="{% static 'images/logo/logo-mannmitr.png' %}" alt="mannmitr"></figure></a>
                           </div>
                           <div class="tp-copyright">
                               <p class="mb-0">Copyright 2020</p>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="clm-foot footer-categories-wideget footer-wideget">
                           <ul class="categories-list"> 
                               <!-- <li><a href="{% url 'expert_list'  %}">Expertlist<span></span></a></li> -->
                               <li><a href="{% url 'media'  %}">Media<span></span></a></li>
                               <li><a href="{% url 'contacts'  %}">Contact us <span></span></a></li>
                               <li><a href="{% url 'internship'  %}">Intern with us<span></span></a></li>
                           </ul>
                       </div>
                   </div>
                   <div class="col-md-12">
                       <div class="social-media-wrp text-center">
                           <ul class="list-inline mb-0 footer-social-icon">
                           
                               <li><a href="#"onClick="MyWindow=window.open('https://wa.me/?text={{ request.build_absolute_uri|urlencode }}','MyWindow','width=550,height=650');return false;">
                                   <img src="{% static 'images/social/whatapp.png'  %}" alt="whatapp">
                               </a></li>
                               <li>
                                   <a href="#">
                                       <img src="{% static 'images/social/insta.png' %}" alt="insta">
                                   </a>
                               </li>
                               <li><a href="#"onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri|urlencode }}','MyWindow','width=550,height=650');return false;">
                                   <img src="{% static 'images/social/fb.png' %}" alt="fb">
                               </a></li>
                               <li><a href="#"onClick="MyWindow=window.open('https://www.linkedin.com/sharing/share-offsite/?url={{request.build_absolute_uri|urlencode}}','MyWindow','width=550,height=650');return false;">
                                   <img src="{% static 'images/social/linkden.png' %}" alt="linkden">
                               </a></li>
                               <li><a href="#"onClick="MyWindow=window.open('https://twitter.com/share?url={{request.build_absolute_uri|urlencode}}','MyWindow','width=550,height=650');return false;">
                                   <img src="{% static 'images/social/twitter.png' %}" alt="twitter">
                               </a></li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
        </section>
       <!-- footer bottom -->
       <section class="footer-bottom footer-bottom-one">
           <div class="container">
              <div class="foot-nav-cl">
                   <ul class="list-inline">
                       <li>
                           <a href="javascript:void(0)">Privacy Policy</a>
                       </li>
                       <li>
                           <a href="javascript:void(0)">Terms of Services</a>
                       </li>
                   </ul>
              </div>
           </div>
       </section>
       <!-- footer bottom -->
   </footer>
   <!-- main footer end -->
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span></div>
<!--jquery js -->
<script type="text/javascript" id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vfl2vZZmd/www-widgetapi.js" async=""></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script type="text/javascript" src= "{% static 'js/SmoothScroll.js' %}"></script>
<script src="{% static 'js/html5lightbox/html5lightbox.js' %}"></script>  
<script src="{% static 'js/script.js' %}"></script>
</body><!-- End of .page_wrapper -->
</html>
