
{% extends "base2.html" %}
{% block content %}
   <!-- contact section -->
   <section class="contact-section sp-eight">
    <div class="container" style="border:1px solid #ccc;border-radius: 15px;padding-top: 4rem;padding-bottom: 4rem;padding-left: 4rem;">
        <div class="row"> 
            <div class="col-md-3 col-sm-12 col-xs-12 content-side">
                    <div class="contact-info">
                        
                        <h2>Contact Us</h2>
                        <h4>We would love to hear <br>from you !</h4>
                    </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 content-side">
                <div class="blog-details-content">
                            <div class="contact-form-area">
                                <form method="post" action="" id="contact-form">
                                    {% csrf_token %}
                                    {{form.non_field_errors}}
                                    <div class="row">
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <label for="male">Name</label>
                                            {{form.Name}}
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <label for="male">Phone</label>
                                            {{form.phone}}
                                        </div>
                                    
                                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                            <label for="male">Email</label>
                                            {{form.email}}
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <label for="male">Message</label>
                                            {{form.message}}
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <button class="btn-one" type="submit" onclick="myFunction()"  name="submit-form">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                                <script>
                                    var form = document.getElementById('contact-form');
                                    function myFunction() {
                                    if (form.checkValidity()) {
                                        alert("Record inserted successfully");
                                    }
                                    }
                                </script>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact section end -->
{% endblock %}