
{% extends "base.html" %}<h3>Please tell us why you <br> want to intern with us </h3>
{% block content %}
   
<section class="contact-page-temp">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-left-bar text-center">
                    <h2 class="text-uppercase">Contact</h2>
                    <p>Please tell us why you <br> want to intern with us </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="contct-details-frm">
                    <form method="post" action="" onSubmit="return confirm('Do you want to submit your Email ?') ">
                        {% csrf_token %}
                        {{form.non_field_errors}}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{form.Name}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{form.phone}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{form.email}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{form.message}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn-comm" type="submit" name="submit-form">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact section end -->
{% endblock %}